{
  "IS_DEV_MODE":0,
  "SHEET_INPUT_ID":"1NvjL1B3A0qW96DdeMS3V_l0z0iTQBPT2F79FTtZpTOM",
  "SHEET_INPUT_NAME":"Form Responses 1",
  "SHEET_OUTPUT_ID":"1b14pdtlXxNANEolsw6rrEOwsHGaYXTvMGVsligPi69s",
  "SHEET_OUTPUT_NAME":"Sheet1",
  "NEED_UPDATE_SHEET":0,
  "SHEET_UPDATE_NAME":"Sheet2",
  "STUDENT_LIST":"students.json",
  "FILE_OUT_AT": "./contestants/",
  "LOG_FOLDER_AT": "Logs/",
  "FILE_TYPE":"cpp",
  "RELOAD_AFTER_SEC":5,
  "SECRET_CODE_COL":1,
  "PROBLEM_CODE_COL":2,
  "CODE_COL":3,
  "CONTEST_MODE": "IOI",
  "START_TIME": "4/17/2020 9:16:57",
  "WRONG_SUBMISSION_PENALTY":20,
  "START_READING_ROW":2
}
